@import 'breakpoints';

.content {
	$parent: &;

	a:not([class]) {
		text-decoration: none;
		color: inherit;
		cursor: pointer;
		background-size: 100% 25%;
		background-repeat: no-repeat;
		background-image: linear-gradient(to top, var(--clr-primary) 50%, rgba(0, 0, 0, 0) 50.1%);
		background-position: left 0 bottom 0;
		transition: all 160ms ease;
		display: inline-block;
		padding: 0 1px;

		&:focus,
		&:hover,
		&:active {
			text-decoration: none;
			color: inherit;
		}

		&:hover {
			background-size: 100% 200%;
			background-position: left 0 bottom 0;
			color: #fff;
		}
	}
}
